# for linux
otp_path: "/home/max/.asdf/installs/erlang/24.1.2"
# for mac os
# otp_path: "/Users/max/.asdf/installs/erlang/24.1.2"
deps_dirs:
- "_build/default/lib/etran"
- "_build/default/lib/*"
apps_dirs:
  - "_build/default/lib/*"
diagnostics:
  enabled:
    - compiler
    - crossref
  disabled:
    - dialyzer
include_dirs:
  - "include"
  - "_build/default/lib/*/include"
lenses:
  enabled:
    - ct-run-test
  disabled:
    - show-behaviour-usages
